.custom-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.custom-grid-item {
    width: calc(33.333% - 1rem);
    background-color: rgb(249, 249, 218);
    padding: 0rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    border-radius: 10px;
    margin: 0.5rem;
}

.custom-grid-item img {
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.custom-grid-item:hover {
    transform: translateY(-10px);
}

/* Pagination CSS */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.pagination-btn {
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    border: 1px solid var(--primary);
    border-radius: 25px;
    background-color: var(--primary);
    color: var(--light);
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.pagination-btn:hover {
    background-color: var(--secondary);
    transform: scale(1.05);
}

/* Lightbox CSS */
.mfp-bg,
.mfp-wrap {
    position: fixed;
    left: 0;
    top: 0;
}

.mfp-bg,
.mfp-container,
.mfp-wrap {
    height: 100%;
    width: 100%;
}

.mfp-bg {
    z-index: 1042;
    overflow: hidden;
    background: #0b0b0b;
    opacity: .8;
}

.mfp-wrap {
    position: fixed;
    left: 0;
    top: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.mfp-container {
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0 8px;
    box-sizing: border-box;
}

.mfp-content {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    text-align: left;
    z-index: 1045;
}

.mfp-close {
    width: 44px;
    height: 44px;
    line-height: 44px;
    position: absolute;
    right: 0;
    top: 0;
    text-decoration: none;
    text-align: center;
    opacity: .65;
    padding: 0 0 18px 10px;
    font-style: normal;
    font-size: 28px;
    font-family: Arial, Baskerville, monospace;
}

.mfp-close:hover {
    opacity: 1;
}

.mfp-arrow {
    position: absolute;
    opacity: .65;
    margin: -55px 0 0;
    top: 50%;
    padding: 0;
    width: 90px;
    height: 110px;
    -webkit-tap-highlight-color: transparent;
}

.mfp-arrow:hover {
    opacity: 1;
}

.mfp-arrow-left {
    left: 0;
}

.mfp-arrow-left:after {
    border-right: 17px solid #FFF;
    margin-left: 31px;
}

.mfp-arrow-right {
    right: 0;
}

.mfp-arrow-right:after {
    border-left: 17px solid #FFF;
    margin-left: 39px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .custom-navbar .custom-nav {
        flex-direction: column;
    }

    .custom-navbar .custom-nav li {
        margin-bottom: 1rem;
    }

    .custom-grid-item {
        width: calc(100% - 1rem);
    }
}

/* Custom Button Group CSS */
.custom-btn-group {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    background: rgba(204, 208, 180, 0.64);
    backdrop-filter: blur(50px);
    padding: 1rem;
    border-radius: 30px;
    flex-wrap: wrap;
    margin-left: 2rem;
    margin-right: 2rem;
}

.custom-square-btn {
    margin: 1rem;
    border: 2px solid var(--primary);
    border-radius: 15px;
    background-color: var(--dark);
    color: rgba(255, 255, 255, 0.7);
    text-transform: uppercase;
    padding: 20px;
    font-size: 14px;
    font-weight: 200;
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.custom-square-btn i {
    font-size: 36px;
    margin-bottom: 10px;
}

.custom-square-btn:hover {
    box-shadow: 0 0 15px 2px var(--primary);
    background-color: var(--primary);
    transform: scale(1.05);
}

.custom-square-btn.is-checked {
    background-color: var(--light);
    color: var(--dark);
}

@media (max-width: 768px) {
    .custom-square-btn {
        width: 100px;
        height: 100px;
        font-size: 12px;
        padding: 10px;
    }

    .custom-square-btn i {
        font-size: 24px;
    }
}


.modal-content {
    margin: 25vh auto 0;
    padding: 0.7rem;
    width: 550px;
    max-width: 800px;
    height: 315px;
    background-color: var(--light);
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow-y: auto;

    @media only screen and (max-width: 768px) {
        width: 100%;
    }
}

.close {
    position: absolute;
    right: 1rem;
    top: 1rem;
    background-color: #6d8005;
    border: 10px solid #708206;
    padding: 0;
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

